# Importing and Exporting Data

## Outine
- Import IBM Employee Attrition dataset
- Look at the top 6 rows
- Export the data as a .csv

## Import IBM Employee Attrition dataset

In [10]:
import pandas as pd
from pathlib import Path

# Python3's Pathlib is the preferred strategy for working with filepaths.
# (this code is correct in Windows and MacOS/Linux)
file_path = Path('C:/Users/kkehrer/Desktop/MachineLearningStorytelling') / 'employee_attrition.csv'


df = pd.read_csv(file_path)

## Look at the top 5 rows of our dataset

In [11]:
df.head()

,Age,Attrition,BusinessTravel,DailyRate,DistanceFromHome,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,1,2,Female,94,3,2,...,3,1,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,8,3,Male,61,2,2,...,4,4,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,2,4,Male,92,2,1,...,3,2,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,3,4,Female,56,3,1,...,3,3,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,2,1,Male,40,3,1,...,3,4,1,6,3,3,2,2,2,2

## Export the data as a .csv

In [12]:
df.to_csv('C:/Users/kkehrer/Desktop/MachineLearningStorytelling/EmeritusData/employee_attrition3.csv')