### Introduction to Pandas

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [5]:
attrition = pd.read_csv('data/employee_attrition.csv')

In [7]:
attrition.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

- Explore data
- Work with missing data
- Exploring Categories
- Exploring Quantitative Features
- Groupby

In [8]:
attrition.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
Age                         1470 non-null int64
Attrition                   1470 non-null object
BusinessTravel              1470 non-null object
DailyRate                   1470 non-null int64
Department                  1470 non-null object
DistanceFromHome            1470 non-null int64
Education                   1470 non-null int64
EducationField              1470 non-null object
EmployeeCount               1470 non-null int64
EmployeeNumber              1470 non-null int64
EnvironmentSatisfaction     1470 non-null int64
Gender                      1470 non-null object
HourlyRate                  1470 non-null int64
JobInvolvement              1470 non-null int64
JobLevel                    1470 non-null int64
JobRole                     1470 non-null object
JobSatisfaction             1470 non-null int64
MaritalStatus               1470 non-null object
MonthlyIncome               1470 non-null int64
MonthlyRate                 1470 non-null int64
NumCompaniesWorked          1470 non-null int64
Over18                      1470 non-null object
OverTime                    1470 non-null object
PercentSalaryHike           1470 non-null int64
PerformanceRating           1470 non-null int64
RelationshipSatisfaction    1470 non-null int64
StandardHours               1470 non-null int64
StockOptionLevel            1470 non-null int64
TotalWorkingYears           1470 non-null int64
TrainingTimesLastYear       1470 non-null int64
WorkLifeBalance             1470 non-null int64
YearsAtCompany              1470 non-null int64
YearsInCurrentRole          1470 non-null int64
YearsSinceLastPromotion     1470 non-null int64
YearsWithCurrManager        1470 non-null int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB

In [13]:
attrition['EducationField'].value_counts()

Life Sciences       606
Medical             464
Marketing           159
Technical Degree    132
Other                82
Human Resources      27
Name: EducationField, dtype: int64

In [14]:
attrition['EducationField'].unique()

array(['Life Sciences', 'Other', 'Medical', 'Marketing',
       'Technical Degree', 'Human Resources'], dtype=object)

In [17]:
attrition[['WorkLifeBalance', 'EducationField']].head()

   WorkLifeBalance EducationField
0                1  Life Sciences
1                3  Life Sciences
2                3          Other
3                3  Life Sciences
4                3        Medical

In [30]:
sub_df = attrition.loc[:10, ['Attrition', 'BusinessTravel']]

In [32]:
sub_df

   Attrition     BusinessTravel
0        Yes      Travel_Rarely
1         No  Travel_Frequently
2        Yes      Travel_Rarely
3         No  Travel_Frequently
4         No      Travel_Rarely
5         No  Travel_Frequently
6         No      Travel_Rarely
7         No      Travel_Rarely
8         No  Travel_Frequently
9         No      Travel_Rarely
10        No      Travel_Rarely

In [28]:
attrition.head(2)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7

In [29]:
attrition.iloc[:10, [i for i in range(10) if i % 2 == 0]]

   Age     BusinessTravel              Department  Education  EmployeeCount
0   41      Travel_Rarely                   Sales          2              1
1   49  Travel_Frequently  Research & Development          1              1
2   37      Travel_Rarely  Research & Development          2              1
3   33  Travel_Frequently  Research & Development          4              1
4   27      Travel_Rarely  Research & Development          1              1
5   32  Travel_Frequently  Research & Development          2              1
6   59      Travel_Rarely  Research & Development          3              1
7   30      Travel_Rarely  Research & Development          1              1
8   38  Travel_Frequently  Research & Development          3              1
9   36      Travel_Rarely  Research & Development          3              1

In [33]:
attrition['Department'].value_counts()

Research & Development    961
Sales                     446
Human Resources            63
Name: Department, dtype: int64

In [35]:
attrition.loc[(attrition['Department'] == 'Research & Development') & (attrition['EducationField'] == 'Medical')]

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
6,59,No,Travel_Rarely,1324,Research & Development,3,3,Medical,1,10,...,1,80,3,12,3,2,1,0,0,0
9,36,No,Travel_Rarely,1299,Research & Development,27,3,Medical,1,13,...,2,80,2,17,3,2,7,7,7,7
10,35,No,Travel_Rarely,809,Research & Development,16,3,Medical,1,14,...,3,80,1,6,5,3,5,4,0,3
13,34,No,Travel_Rarely,1346,Research & Development,19,2,Medical,1,18,...,3,80,1,3,2,3,2,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1460,29,No,Travel_Rarely,468,Research & Development,28,4,Medical,1,2054,...,2,80,0,5,3,1,5,4,0,4
1463,31,No,Non-Travel,325,Research & Development,5,3,Medical,1,2057,...,2,80,0,10,2,3,9,4,1,7
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,3,80,1,17,3,3,5,2,0,3
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,1,80,1,9,5,3,7,7,1,7
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,1,80,0,6,3,4,4,3,1,2

In [37]:
groups = attrition.groupby('EducationField')

In [46]:
groups.mean()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
EducationField,,,,,,,,,,,,,,,,,,,,,
Human Resources,37.037037,675.259259,9.037037,3.111111,1.0,1180.370370,2.666667,60.888889,2.740741,2.148148,...,3.037037,80.0,0.925926,11.592593,2.444444,2.740741,6.777778,3.555556,1.629630,3.370370
Life Sciences,37.107261,804.425743,8.955446,2.929043,1.0,1024.427393,2.689769,66.831683,2.732673,2.052805,...,2.686469,80.0,0.775578,11.245875,2.739274,2.727723,6.993399,4.308581,2.178218,4.138614
Marketing,37.924528,727.836478,10.106918,3.125786,1.0,999.830189,2.723270,66.150943,2.691824,2.358491,...,2.691824,80.0,0.849057,11.855346,2.691824,2.798742,7.559748,4.490566,2.245283,4.465409
Medical,36.838362,822.799569,9.353448,2.803879,1.0,1017.165948,2.687500,65.280172,2.747845,2.040948,...,2.760776,80.0,0.836207,11.564655,2.933190,2.762931,7.105603,4.088362,2.295259,4.062500
Other,35.365854,796.024390,8.926829,3.073171,1.0,1050.695122,3.012195,62.365854,2.695122,1.987805,...,2.621951,80.0,0.646341,10.353659,2.756098,2.853659,6.243902,3.975610,1.658537,3.951220
Technical Degree,36.121212,842.128788,8.810606,2.825758,1.0,1036.242424,2.818182,66.621212,2.719697,1.871212,...,2.674242,80.0,0.727273,10.250000,2.833333,2.810606,6.590909,4.340909,2.227273,4.113636

In [49]:
groups = attrition.groupby(['EducationField', 'Department', 'BusinessTravel'])

In [52]:
groups.agg(['mean', 'sum'])

                                                                 Age         \
                                                                mean    sum
EducationField   Department             BusinessTravel
Human Resources  Human Resources        Non-Travel         48.000000    192
                                        Travel_Frequently  34.833333    209
                                        Travel_Rarely      35.235294    599
Life Sciences    Human Resources        Non-Travel         28.000000     28
                                        Travel_Frequently  30.000000     60
                                        Travel_Rarely      41.692308    542
                 Research & Development Non-Travel         37.558140   1615
                                        Travel_Frequently  35.967033   3273
                                        Travel_Rarely      37.225490  11391
                 Sales                  Non-Travel         38.578947    733
                                        Travel_Frequently  37.200000   1116
                                        Travel_Rarely      36.920792   3729
Marketing        Sales                  Non-Travel         35.083333    421
                                        Travel_Frequently  36.370370    982
                                        Travel_Rarely      38.558333   4627
Medical          Human Resources        Non-Travel         42.000000     42
                                        Travel_Frequently  37.000000     74
                                        Travel_Rarely      40.200000    402
                 Research & Development Non-Travel         35.538462   1386
                                        Travel_Frequently  39.147059   2662
                                        Travel_Rarely      36.996094   9471
                 Sales                  Non-Travel         36.500000    365
                                        Travel_Frequently  35.187500    563
                                        Travel_Rarely      34.322581   2128
Other            Human Resources        Travel_Frequently  38.000000     38
                                        Travel_Rarely      33.000000     66
                 Research & Development Non-Travel         31.750000    127
                                        Travel_Frequently  34.000000    340
                                        Travel_Rarely      36.980000   1849
                 Sales                  Non-Travel         34.000000    102
                                        Travel_Frequently  38.666667    116
                                        Travel_Rarely      29.111111    262
Technical Degree Human Resources        Travel_Rarely      32.500000    130
                 Research & Development Non-Travel         34.363636    378
                                        Travel_Frequently  32.615385    424
                                        Travel_Rarely      38.314286   2682
                 Sales                  Non-Travel         34.666667    104
                                        Travel_Frequently  30.125000    241
                                        Travel_Rarely      35.173913    809

                                                             DailyRate  \
                                                                  mean
EducationField   Department             BusinessTravel
Human Resources  Human Resources        Non-Travel          862.500000
                                        Travel_Frequently   938.000000
                                        Travel_Rarely       538.470588
Life Sciences    Human Resources        Non-Travel          280.000000
                                        Travel_Frequently   537.000000
                                        Travel_Rarely       822.692308
                 Research & Development Non-Travel          776.488372
                                        Travel_Frequently   797.142857
                                        Travel_Rarely       788.617647
                 Sales                  Non-Travel          865.105263
                                        Travel_Frequently   774.233333
                                        Travel_Rarely       876.465347
Marketing        Sales                  Non-Travel          883.916667
                                        Travel_Frequently   725.481481
                                        Travel_Rarely       712.758333
Medical          Human Resources        Non-Travel          179.000000
                                        Travel_Frequently  1071.500000
                                        Travel_Rarely       906.100000
                 Research & Development Non-Travel          831.205128
                                        Travel_Frequently   768.029412
                                        Travel_Rarely       840.222656
                 Sales                  Non-Travel          581.200000
                                        Travel_Frequently   933.812500
                                        Travel_Rarely       804.887097
Other            Human Resources        Travel_Frequently  1444.000000
                                        Travel_Rarely       785.500000
                 Research & Development Non-Travel          575.500000
                                        Travel_Frequently   763.000000
                                        Travel_Rarely       778.460000
                 Sales                  Non-Travel         1322.000000
                                        Travel_Frequently   851.333333
                                        Travel_Rarely       764.888889
Technical Degree Human Resources        Travel_Rarely       667.000000
                 Research & Development Non-Travel         1062.090909
                                        Travel_Frequently   724.230769
                                        Travel_Rarely       834.928571
                 Sales                  Non-Travel          674.000000
                                        Travel_Frequently   893.500000
                                        Travel_Rarely       860.000000

                                                                   \
                                                              sum
EducationField   Department             BusinessTravel
Human Resources  Human Resources        Non-Travel           3450
                                        Travel_Frequently    5628
                                        Travel_Rarely        9154
Life Sciences    Human Resources        Non-Travel            280
                                        Travel_Frequently    1074
                                        Travel_Rarely       10695
                 Research & Development Non-Travel          33389
                                        Travel_Frequently   72540
                                        Travel_Rarely      241317
                 Sales                  Non-Travel          16437
                                        Travel_Frequently   23227
                                        Travel_Rarely       88523
Marketing        Sales                  Non-Travel          10607
                                        Travel_Frequently   19588
                                        Travel_Rarely       85531
Medical          Human Resources        Non-Travel            179
                                        Travel_Frequently    2143
                                        Travel_Rarely        9061
                 Research & Development Non-Travel          32417
                                        Travel_Frequently   52226
                                        Travel_Rarely      215097
                 Sales                  Non-Travel           5812
                                        Travel_Frequently   14941
                                        Travel_Rarely       49903
Other            Human Resources        Travel_Frequently    1444
                                        Travel_Rarely        1571
                 Research & Development Non-Travel           2302
                                        Travel_Frequently    7630
                                        Travel_Rarely       38923
                 Sales                  Non-Travel           3966
                                        Travel_Frequently    2554
                                        Travel_Rarely        6884
Technical Degree Human Resources        Travel_Rarely        2668
                 Research & Development Non-Travel          11683
                                        Travel_Frequently    9415
                                        Travel_Rarely       58445
                 Sales                  Non-Travel           2022
                                        Travel_Frequently    7148
                                        Travel_Rarely       19780

                                                          DistanceFromHome  \
                                                                      mean
EducationField   Department             BusinessTravel
Human Resources  Human Resources        Non-Travel                8.500000
                                        Travel_Frequently        11.000000
                                        Travel_Rarely             8.470588
Life Sciences    Human Resources        Non-Travel                1.000000
                                        Travel_Frequently        14.000000
                                        Travel_Rarely             8.461538
                 Research & Development Non-Travel                7.953488
                                        Travel_Frequently         8.406593
                                        Travel_Rarely             9.127451
                 Sales                  Non-Travel               10.736842
                                        Travel_Frequently         9.833333
                                        Travel_Rarely             8.801980
Marketing        Sales                  Non-Travel               14.000000
                                        Travel_Frequently         9.370370
                                        Travel_Rarely             9.883333
Medical          Human Resources        Non-Travel                2.000000
                                        Travel_Frequently         6.500000
                                        Travel_Rarely            10.300000
                 Research & Development Non-Travel                8.948718
                                        Travel_Frequently        11.000000
                                        Travel_Rarely             9.246094
                 Sales                  Non-Travel                9.900000
                                        Travel_Frequently         7.250000
                                        Travel_Rarely             8.758065
Other            Human Resources        Travel_Frequently         1.000000
                                        Travel_Rarely            12.500000
                 Research & Development Non-Travel               12.000000
                                        Travel_Frequently         8.000000
                                        Travel_Rarely             8.940000
                 Sales                  Non-Travel               20.333333
                                        Travel_Frequently         5.000000
                                        Travel_Rarely             6.111111
Technical Degree Human Resources        Travel_Rarely             5.250000
                 Research & Development Non-Travel               10.272727
                                        Travel_Frequently         8.538462
                                        Travel_Rarely             8.928571
                 Sales                  Non-Travel               14.333333
                                        Travel_Frequently         9.875000
                                        Travel_Rarely             7.434783

                                                                Education  \
                                                            sum      mean
EducationField   Department             BusinessTravel
Human Resources  Human Resources        Non-Travel           34  3.250000
                                        Travel_Frequently    66  3.166667
                                        Travel_Rarely       144  3.058824
Life Sciences    Human Resources        Non-Travel            1  2.000000
                                        Travel_Frequently    28  3.500000
                                        Travel_Rarely       110  3.076923
                 Research & Development Non-Travel          342  2.883721
                                        Travel_Frequently   765  2.846154
                                        Travel_Rarely      2793  2.934641
                 Sales                  Non-Travel          204  2.947368
                                        Travel_Frequently   295  2.833333
                                        Travel_Rarely       889  3.009901
Marketing        Sales                  Non-Travel          168  3.000000
                                        Travel_Frequently   253  3.222222
                                        Travel_Rarely      1186  3.116667
Medical          Human Resources        Non-Travel            2  5.000000
                                        Travel_Frequently    13  3.000000
                                        Travel_Rarely       103  2.300000
                 Research & Development Non-Travel          349  2.794872
                                        Travel_Frequently   748  2.926471
                                        Travel_Rarely      2367  2.824219
                 Sales                  Non-Travel           99  3.000000
                                        Travel_Frequently   116  2.562500
                                        Travel_Rarely       543  2.661290
Other            Human Resources        Travel_Frequently     1  4.000000
                                        Travel_Rarely        25  2.500000
                 Research & Development Non-Travel           48  3.000000
                                        Travel_Frequently    80  3.200000
                                        Travel_Rarely       447  3.080000
                 Sales                  Non-Travel           61  3.666667
                                        Travel_Frequently    15  4.000000
                                        Travel_Rarely        55  2.444444
Technical Degree Human Resources        Travel_Rarely        21  2.750000
                 Research & Development Non-Travel          113  2.909091
                                        Travel_Frequently   111  2.538462
                                        Travel_Rarely       625  3.014286
                 Sales                  Non-Travel           43  3.000000
                                        Travel_Frequently    79  2.250000
                                        Travel_Rarely       171  2.565217

                                                               EmployeeCount  \
                                                           sum          mean
EducationField   Department             BusinessTravel
Human Resources  Human Resources        Non-Travel          13             1
                                        Travel_Frequently   19             1
                                        Travel_Rarely       52             1
Life Sciences    Human Resources        Non-Travel           2             1
                                        Travel_Frequently    7             1
                                        Travel_Rarely       40             1
                 Research & Development Non-Travel         124             1
                                        Travel_Frequently  259             1
                                        Travel_Rarely      898             1
                 Sales                  Non-Travel          56             1
                                        Travel_Frequently   85             1
                                        Travel_Rarely      304             1
Marketing        Sales                  Non-Travel          36             1
                                        Travel_Frequently   87             1
                                        Travel_Rarely      374             1
Medical          Human Resources        Non-Travel           5             1
                                        Travel_Frequently    6             1
                                        Travel_Rarely       23             1
                 Research & Development Non-Travel         109             1
                                        Travel_Frequently  199             1
                                        Travel_Rarely      723             1
                 Sales                  Non-Travel          30             1
                                        Travel_Frequently   41             1
                                        Travel_Rarely      165             1
Other            Human Resources        Travel_Frequently    4             1
                                        Travel_Rarely        5             1
                 Research & Development Non-Travel          12             1
                                        Travel_Frequently   32             1
                                        Travel_Rarely      154             1
                 Sales                  Non-Travel          11             1
                                        Travel_Frequently   12             1
                                        Travel_Rarely       22             1
Technical Degree Human Resources        Travel_Rarely       11             1
                 Research & Development Non-Travel          32             1
                                        Travel_Frequently   33             1
                                        Travel_Rarely      211             1
                 Sales                  Non-Travel           9             1
                                        Travel_Frequently   18             1
                                        Travel_Rarely       59             1

                                                                ...  \
                                                           sum  ...
EducationField   Department             BusinessTravel          ...
Human Resources  Human Resources        Non-Travel           4  ...
                                        Travel_Frequently    6  ...
                                        Travel_Rarely       17  ...
Life Sciences    Human Resources        Non-Travel           1  ...
                                        Travel_Frequently    2  ...
                                        Travel_Rarely       13  ...
                 Research & Development Non-Travel          43  ...
                                        Travel_Frequently   91  ...
                                        Travel_Rarely      306  ...
                 Sales                  Non-Travel          19  ...
                                        Travel_Frequently   30  ...
                                        Travel_Rarely      101  ...
Marketing        Sales                  Non-Travel          12  ...
                                        Travel_Frequently   27  ...
                                        Travel_Rarely      120  ...
Medical          Human Resources        Non-Travel           1  ...
                                        Travel_Frequently    2  ...
                                        Travel_Rarely       10  ...
                 Research & Development Non-Travel          39  ...
                                        Travel_Frequently   68  ...
                                        Travel_Rarely      256  ...

In [54]:
attrition.describe(include = 'all')

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1470.000000,1470,1470,1470.000000,1470,1470.000000,1470.000000,1470,1470.0,1470.000000,...,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000
unique,NaN,2,3,NaN,3,NaN,NaN,6,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,No,Travel_Rarely,NaN,Research & Development,NaN,NaN,Life Sciences,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,1233,1043,NaN,961,NaN,NaN,606,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,36.923810,NaN,NaN,802.485714,NaN,9.192517,2.912925,NaN,1.0,1024.865306,...,2.712245,80.0,0.793878,11.279592,2.799320,2.761224,7.008163,4.229252,2.187755,4.123129
std,9.135373,NaN,NaN,403.509100,NaN,8.106864,1.024165,NaN,0.0,602.024335,...,1.081209,0.0,0.852077,7.780782,1.289271,0.706476,6.126525,3.623137,3.222430,3.568136
min,18.000000,NaN,NaN,102.000000,NaN,1.000000,1.000000,NaN,1.0,1.000000,...,1.000000,80.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,NaN,NaN,465.000000,NaN,2.000000,2.000000,NaN,1.0,491.250000,...,2.000000,80.0,0.000000,6.000000,2.000000,2.000000,3.000000,2.000000,0.000000,2.000000
50%,36.000000,NaN,NaN,802.000000,NaN,7.000000,3.000000,NaN,1.0,1020.500000,...,3.000000,80.0,1.000000,10.000000,3.000000,3.000000,5.000000,3.000000,1.000000,3.000000
75%,43.000000,NaN,NaN,1157.000000,NaN,14.000000,4.000000,NaN,1.0,1555.750000,...,4.000000,80.0,1.000000,15.000000,3.000000,3.000000,9.000000,7.000000,3.000000,7.000000
max,60.000000,NaN,NaN,1499.000000,NaN,29.000000,5.000000,NaN,1.0,2068.000000,...,4.000000,80.0,3.000000,40.000000,6.000000,4.000000,40.000000,18.000000,15.000000,17.000000